/* bootstrap-datepicker */
.date-picker-wrapper {
    z-index: 9;
}
.datepicker.dropdown-menu {
    font-family: $body-fontfamily;
    .btn {
        background: transparent;
        color: $color1;
        border: 0;
        line-height: 1;
        height: auto;
        font-weight: 700;
    }
    td, th {
        height: 34px;
        width: 34px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    thead tr:first-child th:hover, tfoot tr th:hover {
        background: transparent;
    }
    table tr td.active.active {
        background: $color1;
    }
}
// /* end bootstrap-datepicker */
