// Chỉnh sửa mặc định của trình duyệt: margin, font...
@import "../vendor/font";

* {
  outline: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $body-fontfamily !important;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  color: $color-body-text;
  word-wrap: break-word;
  margin: 0;
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

.body-fontfamily {
  font-family: $body-fontfamily;
}

.title-fontfamily {
  font-family: $title-fontfamily;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-fontfamily;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  margin: 0;
}

.h1-main {
  position: fixed;
  top: -500px;
}

a {
  color: $color1;
  outline: 0 !important;
  text-decoration: none !important;
  &:hover,
  &:focus {
    color: $color2;
  }
}

img {
  max-width: 100%;
  border: 0 !important;
  outline: 0 !important;
  vertical-align: middle;
}

ul {
  padding: 0;
}

ol {
  margin-left: 15px;
}

/* custom scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $color1;
}

::-webkit-scrollbar-thumb:hover {
  background: $color1;
}

/* end custom scrollbar */

/* custom arrows from input number */
a,
.slider .slick-arrow {
  @extend %transition;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.bg-success {
  background: $color-success !important;
}

.bg-warning {
  background: $color-warning !important;
}

.bg-error {
  background: $color-error !important;
}

.bg-cancel {
  background: $color-cancel !important;
}

.bg-gray {
  background: $bg-gray;
}

.text-success {
  color: $color-success !important;
}

.text-warning {
  color: $color-warning !important;
}

.text-error {
  color: $color-error !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.br {
  display: inline-block !important;
}

.vr {
  min-height: 22px;
  border-left: 1px solid;
}

.pt-0 {
  padding-top: 0 !important;
}

.mail-break,
a[href^="mailto"] {
  word-break: break-all;
}

.text-center {
  text-align: center;
}

.has-bg-src {
  position: relative;
  &::before {
    content: "";
    @extend %overlay-full;
    background: rgba(0, 0, 0, 0.2);
  }
}

.wrap-img-cover {
  overflow: hidden;
  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

// dùng với background (set cho wrap-img), image
.wrap-img {
  position: relative;
  transition: all 0.35s ease-in-out;
  max-width: 100%;
  overflow: hidden;
  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    @extend %block-center;
  }
}

.wrap-more {
  margin-top: 30px;
}

.quantity {
  display: flex;
  > * {
    border: 0;
    text-align: center;
    display: inline-block;
    @include square(32px);
    @extend %border-radius-0;
  }
  button {
    background: #efefef;
    &:hover {
      background: $color1;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none; //Chrome, Safari, Edge, Opera
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield; //Firefox
  }
}

.pagination {
  position: relative;
  display: block;
  margin: 30px 0 0 0;
  text-align: center;
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  font-weight: 600;
  padding: 0;
  color: #a07743;
  height: 36px;
  width: 36px;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #a07743;
  display: block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media (max-width: 767.8px) {
  .pagination li a {
    height: 30px;
    width: 30px;
    font-size: 15px;
    line-height: 30px;
  }
}
.pagination li.active a:hover {
  color: #fff;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a {
  color: #fff;
  background: #a07743 !important;
  border-color: #a07743 !important;
}
.pagination li.disabled a {
  cursor: not-allowed;
  color: #999;
  border-color: #999;
  background: #fff;
}

.pagination li.active a {
  cursor: default;
}
@media (max-width: 767.8px) {
  .pagination {
    margin-top: 15px;
  }
}
/* end pagination */

// ie brower
.ie .bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1200px;
  }
}

/* end common */
