.blink-me {
    animation: blinker 1s linear infinite;
    -webkit-animation: blinker 1s linear infinite;
} 
@keyframes blinker {
    50% {
    //   opacity: 40%;
      color: #fff;
    }
    100% {
        // opacity: 1;
        color: $color1;
    }
}

%flash-zoom {
    animation: flash-zoom 0.2s linear infinite;
    -webkit-animation: flash-zoom 0.2s linear infinite;
}

@keyframes flash-zoom {
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    }
}

%flash-text {
    animation: flash-text 1s linear infinite;
    -webkit-animation: flash-text 1s linear infinite;
}

@keyframes flash-text {
    20% {
        // color: #fff;
        color: green;
    }
    40% {
        color: $color4;
    }
    50% {
        color: red;
    }
    60% {
        // color: #fff;
        color: green;
    }
    80% {
        color: $color4;
    }
}

%flash-btn {
    animation: flash-btn 1s linear infinite;
    -webkit-animation: flash-btn 1s linear infinite;
}

@keyframes flash-btn {
    20% {
        background: green;
        border-color: green;
    }
    40% {
        background: $color4;
        border-color: $color4;
    }
    50% {
        background: red;
        border-color: red;
    }
    60% {
        background: green;
        border-color: green;
    }
    80% {
        background: $color4;
        border-color: $color4;
    }
}
