$body-fontfamily: "Open Sans", sans-serif;
$title-fontfamily: "Open Sans", sans-serif;
$color1: #a07743; // màu logo2
$color2: #a78e72;
$color3: lighten(saturate($color1, 4.27), 39.02);
$color4: darken($color1, 20%);
$color5: red;
$color6: darken($color5, 20%);
$color7: #ffff;
$color8: #000;
$color9: #ccc;
$color10: #333;
$colorTitleHover: #fac81e;
$color-gray: #f2f2f2;
$color-body-text: #333;
$bg-light: #fbfbfb;
$bg-gray: #e4e4e4;
$bg-light-oca: rgba(255, 255, 255, 0.8);
$border-oca: rgba(148, 147, 147, 0.2);
// header color;
$color-header: $color2;
$color-header-hover: $color1;
// footer color;
$color-footer-link: #fff;
$color-footer-link-hover: $color1;
$color-copyright: $color1;
$color-copyright-hover: #fff;
// control button color
$color-success: #4caf50;
$color-error: #f27474;
// $color-error: #dc3545;
$color-warning: #ffc107;
$color-cancel: #777;
// social color
$color-facebook: #4267b2;
$color-youtube: #f00;
$color-twitter: #1da1f2;
$color-tripadvisor: #00aa6c;
$color-instagram: #e64f46;
$color-google: #df4a32;
//$background-instagram: radial-gradient(circle at 30% 107%,#fde11a 0%,#fde11a 5%,#fd5949 45%,#f0006e 60%,#004fe9 90%);
$p-section: 60px;
$p-section-mobile: 30px;
$btn-height: 45px;
$time-hover: 0.5s;
$header-desktop-height: 70px;

// header add
$color-add-1: rgba(255, 255, 255, 0.91);
// end herader add