$body-fontfamily: 'Open Sans',
sans-serif;
// $title-fontfamily: "Muli","Helvetica Neue", Helvetica, Arial, sans-serif;
// $title-fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-fontfamily: 'Open Sans',
sans-serif;
// background-image: linear-gradient(to right, #8e5e3f, #dabf4a, #f5ff62,#dab948, #8c5d3e);
// $color1: #b16f1e; // màu đậm hơn mà logo
// $color1: #88553d; // màu logo1
$color1: #a07743; // màu logo2
$color2: #a78e72;
// $color2:#ffb04e;
$color3: lighten(saturate($color1, 4.27), 39.02);
$color4: darken($color1, 20%);
$color5: red;
$color6: darken($color5, 20%);
$color7:#ffff;
$color8:#000;
$color-gray: #f2f2f2;
$color-body-text: #333;
$bg-light: #fbfbfb;
$bg-gray: #f5f5f5;
// header color;
$color-header: $color2;
$color-header-hover: $color1;
// footer color;
$color-footer-link: #fff;
$color-footer-link-hover: $color1;
$color-copyright: $color1;
$color-copyright-hover: #fff;
// control button color
$color-success: #4CAF50;
$color-error: #F27474;
// $color-error: #dc3545;
$color-warning: #ffc107;
$color-cancel: #777;
// social color
$color-facebook: #4267b2;
$color-youtube: #f00;
$color-twitter: #1da1f2;
$color-tripadvisor: #00aa6c;
$color-instagram: #e64f46;
$color-google: #df4a32;
//$background-instagram: radial-gradient(circle at 30% 107%,#fde11a 0%,#fde11a 5%,#fd5949 45%,#f0006e 60%,#004fe9 90%);
$p-section: 60px;
$p-section-mobile: 30px;
$btn-height: 45px;
$time-hover: 0.5s;
$header-desktop-height: 70px;