    @import "../layout/news";
    .pagelistNews {
        padding-top: 30px;
    }
    
    @media(max-width:576px) {
        .pagelistNews {
            padding-top: 15px;
        }
    }
    
    @media (max-width: 375px) {
        .pagelistNews {
            padding-top: 0;
        }
    }