    @import "../layout/news";
    .pagelistNews {
        padding-top: 30px;
    }
    
    @media(max-width:575.8px) {
        .pagelistNews {
            padding-top: 15px;
            .item {
                margin-top: 15px;
            }
            .pagination {
                margin-top: 15px;
            }
        }
    }
    
    @media (max-width: 375px) {
        .pagelistNews {
            padding-top: 0;
        }
    }