.secService {
    padding: 30px 0 60px 0;
    .news {
        .item {
            .content {
                background-color: transparent;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: -60px;
                .wraptextService {
                    padding: 30px;
                    width: 100%;
                    background-color: $bg-light-oca;
                    border: 1px solid $border-oca;
                    margin-left: 15px;
                    .title {
                        font-size: 28px;
                        margin: 0 0 20px 0;
                        height: auto;
                        text-transform: uppercase;
                    }
                    .desc {
                        margin: 0 0 20px 0;
                    }
                }
                .iconService {
                    width: 100px;
                    height: auto;
                    margin: 66px 15px 36px 0;
                    background-color: $color1;
                    img {
                        padding: 20px;
                    }
                }
                .bgnocolor {
                    font-size: 12px;
                    color: $color1;
                    background-color: transparent;
                    margin: 0;
                    border: 1px solid $color1;
                    height: 27px;
                    line-height: 25px;
                    padding: 0 10px;
                    @include transition(all 0.35s linear);
                    &::after {
                        border: none;
                    }
                    &:hover {
                        background-color: $color1!important;
                        color: $color7!important;
                        &::after {
                            border: 1px solid $color7;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:991.8px) {
    .secService {
        .news {
            .item {
                .content {
                    .wraptextService {
                        .desc {
                            margin: 0;
                        }
                        .title {
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:767.8px) {
    .secService {
        padding: 0px 0 30px 0;
        .news {
            .item {
                .content {
                    margin-top: -30px;
                }
            }
        }
    }
}

@media(max-width:575.8px) {
    .secService {
        .news {
            .item {
                .content {
                    .wraptextService {
                        padding: 15px;
                        margin-left: 0;
                    }
                    .iconService {
                        margin: 21px 15px 36px 0;
                    }
                }
            }
        }
    }
}