.sectop0 {
    padding-top: 0;
}

#resizeImg {
    width: 60%;
}

.secInfoLike {
    .btn-book {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            z-index: 1;
            border: 1px solid #fff;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
        }
    }
}

.secService {
    padding-bottom: 0;
    .content {
        wraptextService {
            padding: 60px;
        }
    }
}

@media(max-width:767.8px) {
    #resizeImg {
        width: 100%;
    }
    .secInfoLike {
        padding: 40px 0;
    }
}

@media(max-width:575.8px) {
    .secInfoLike {
        padding: 30px 0;
    }
}