// /* breadcrunb */
.breadcrumb {
    overflow: hidden;
    >li {
        position: relative;
        padding-right: 20px;
        // padding-left: 20px;
        >* {
            padding: 6px 0;
        }
        &::before {
            display: none;
        }
        // &::after {
        // 	padding-left: 5px;
        // 	// color: #ccc;
        // 	// content: "/\00a0";
        // 	content: "\f105";
        // 	font-family: "FontAwesome";
        // 	// color: #b3b3b3;
        // 	color: #000;
        // }
        &::after {
            content: "";
            background: transparent;
            border-right: 1px solid #ccc;
            border-top: 1px solid #ccc;
            position: absolute;
            top: 50%;
            right: 7px;
            // left: -12px;
            @include square(25px);
            @include transform(translateY(-50%) rotate(45deg));
        }
        &:last-child {
            padding-right: 0;
            &::after {
                // display: none;
                opacity: 0;
            }
        }
        // &:first-child {
        // 	padding-left: 0;
        // 	&::after {
        // 		@include opacity(0);
        // 	}
        // }
    }
}

.wrap-breadcrumb {
    // background: $color1;
    position: relative;
    padding-top: 90px;
    margin-top: -90px;
    &::after {
        content: "";
        position: absolute;
        top: -100%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        // background-image: url(../images/bg-breadcrumb.png);
        // background-size: cover;
        // background-position: center;
        // background-repeat: no-repeat;
        background: #efefef;
    }
}

.breadcrumb {
    position: relative;
    background: transparent;
    width: 100%;
    margin: 0;
    // padding: 10px 0;
    // padding: 5px 0 0;
    padding: 0;
    color: $color2;
    .breadcrumb-item>* {
        font-size: 1em;
        font-weight: 400;
        display: inline-block;
    }
    li {
        a {
            // color: #fff;
            font-weight: 500;
            &:hover {
                color: $color1;
            }
        }
    }
    .active {
        color: #000;
        >* {
            // font-size: 24px;
            font-weight: 600;
        }
    }
}

@media (max-width: 767px) {
    .breadcrumb>li::after {
        @include square(15px);
    }
}

// @media (min-width: 768px) {
// 	.breadcrumb .active > * {
// 		font-size: 24px;
// 	}
// }
// .page-news-detail .breadcrumb .active h1 {
// 	font-size: 36px;
// 	@include lineclamp-n(36px, 40px, 2);
// }