.wrap-breadcrumb {
	position: relative;
	
	.breadcrumb {
		position: absolute;
		z-index: 1;
		width: 100%;
		padding: 5px 0 8px 0;
		margin: 0;
		background: linear-gradient(to bottom, rgba(0,0,0,0.3) 50%, transparent 100%);

		.container {
			display: flex;
		}
		.breadcrumb-item {
			font-size: 14px;
			white-space: nowrap;
			position: relative;
			&::after {
				content: "\f105";
				font-family: "FontAwesome";
				color: rgba(255, 255, 255, 0.7);
				font-size: 15px;
				margin-left: 8px;
				margin-right: 8px;
			}
			a {
				color: rgba(255, 255, 255, 0.7);
			}
			&:hover a {
				color: #fff;
			}
			&.active {
				color: #fff;
				max-width: 100%;
				overflow: hidden;
				color: rgba(255, 255, 255, 0.8);

				&::after {
					display: none;
				}
				h1 {
					font-size: 14px;
					@include lineclamp-1(26px);
				}
			}
		}
	}
}