@import "../layout/titles";
@import "../layout/resizeImgage";
.wrapBreadCrumb {
    position: relative;
    margin-top: 128px;
    .titleCategory4 {
        text-align: center;
    }
}

.wrapImgBreadcrumb {
    padding-top: 400px;
}

.wrapTextBreadcrumb {
    position: absolute;
    left: 0;
    width: 100%;
    @include translate(0, -50%);
    top: 50%;
}

.navListBreadcrumb {
    background: none;
    display: table;
    margin: 10px auto auto auto;
}

.olListBreqadcrumb {
    margin: 0;
    background: none;
    padding: 0;
    display: block;
    text-align: center;
}

.itemListBreadcrumb.active,
.linkListBreadcrumb {
    font-size: 14px;
    line-height: 20px;
    color: $color7;
    text-transform: uppercase;
}

.linkListBreadcrumb {
    @include transition(0.5s);
    &:hover {
        color: $color1;
        text-decoration: none;
    }
}

.itemListBreadcrumb {
    display: inline;
    +.itemListBreadcrumb {
        padding-left: 15px;
        &::before {
            font-family: "FontAwesome";
            content: "\f061";
            font-weight: 900;
            color: $color7;
            padding-right: 15px;
            font-size: 14px;
            line-height: 24px;
        }
    }
}

@media (max-width: 1199.8px) {
    .wrapBreadCrumb {
        margin-top: 80px;
        .navListBreadcrumb {
            margin-top: 5px;
        }
        .titlePageCurrentBreadcrumb {
            padding: 0 0 15px 0;
            font-size: 24px;
            line-height: 38px;
            &:before {
                content: none;
            }
            &:after {
                bottom: 0;
                left: 50%;
                @include translate(-50%, 0);
                top: auto;
            }
        }
    }
}

@media(max-width:767.8px) {
    .wrapBreadCrumb {
        .titleCategory4 {
            font-size: 30px;
            padding: 0 0 10px 0;
            line-height: 30px;
            margin: 0 auto;
        }
        .wrapTextBreadcrumb {
            .itemListBreadcrumb.active,
            .linkListBreadcrumb {
                font-size: 15px;
                line-height: 23px;
            }
        }
    }
}

@media(max-width:575.8px) {
    .wrapBreadCrumb {
        .wrapImgBreadcrumb {
            padding-top: 56%;
        }
        .titleCategory4 {
            font-size: 18px;
            padding: 0;
            line-height: 25px;
            margin: 0 auto;
        }
        .wrapTextBreadcrumb {
            .itemListBreadcrumb.active,
            .linkListBreadcrumb {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}