.footer {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .title {
        font-size: 15px;
        font-weight: 600;
        margin: 0;
    }
    a {
        color: $color-footer-link;
        &:hover,
        &:focus {
            color: $color-footer-link-hover;
        }
    }
    .footer-main {
        padding: 30px 0 30px 0;
        color: #fff;
        .container>.row {
            display: flex;
            flex-wrap: wrap;
        }
        .main-title {
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 900;
            margin: 20px 0;
        }
        .title {
            color: $color1;
            text-transform: uppercase;
            margin: 30px 0 20px 0;
            font-family: $body-fontfamily;
            font-size: 20px;
            font-weight: 600;
            border-left: 3px solid $color1;
            padding-left: 15px;
        }
        .sub-title {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
            margin-top: 20px;
        }
        a {
            display: block;
        }
        .logo .logo-img {
            width: 150px;
            margin-bottom: 10px;
        }
        .address {
            .item {
                margin-bottom: 20px;
                span {
                    text-transform: uppercase;
                    font-size: 0.85em;
                    font-weight: 500;
                    letter-spacing: 1px;
                    @include opacity(0.6);
                    display: block;
                    margin-bottom: 7px;
                }
                &:nth-child(3){
                    margin-bottom: 0;
                }
            }
        }
        .link {
            a {
                font-weight: 500;
                letter-spacing: 1px;
                margin-bottom: 20px;
            }
        }
    }
    .form {
        .title {
            margin-bottom: 15px;
            margin-top: 20px;
        }
        .form-group {
            display: flex;
            margin-bottom: 0;
        }
    }
}

.social {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    a {
        @include transition(none);
        &:first-child img {
            margin-left: 0;
        }
    }
    .fa {
        color: #fff;
        @include square(30px);
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        @include transition(all 0.2s);
        &:hover {
            @include transform(scale(1.1));
        }
    }
    .fb {
        background: $color-facebook;
    }
    .yt {
        background: $color-youtube;
    }
    .tw {
        background: $color-twitter;
    }
    .in {
        background: $color-instagram;
    }
    .trip {
        background: $color-tripadvisor;
    }
}

@media (min-width: 1200px) {
    .footer .footer-main {
        >.row {
            margin: 0 -40px;
            >div {
                padding: 0 40px;
            }
        }
    }
}

// /* == copyright */
.copyright {
    font-size: 0.9em;
    overflow: hidden;
    position: relative;
    border-top: 1px solid rgba($color1, 0.2);
    .wrap-cr {
        padding: 20px 0;
    }
    p {
        margin: 0;
        color: #fff;
    }
    a {
        color: $color-copyright;
        font-weight: 500;
        &:hover {
            color: $color-copyright-hover;
        }
        &:focus {
            color: $color-copyright-hover;
        }
    }
    .design-by {
        text-align: right;
    }
}
@media(max-width:991.8px){
    .copyright{
        padding-bottom: 70px;
    }
}
@media (max-width: 767.8px) {
    .copyright {
        p {
            text-align: center !important;
        }
    }
}

// /* == end copyright */
// /* end footer */
.btn-messenger {
    position: fixed;
    bottom: 15px;
    z-index: 10;
    right: 20px;
    @extend %transition;
    @include square(60px);
}

@media(max-width:991.8px) {
    .btn-messenger {
        bottom: 65px;
    }
}

@media(max-width:575.8px) {
    .btn-messenger {
        height: 45px;
        width: 45px;
    }
}