@import "../_pre-scss.scss";


.gallery-1 .img {
    .slider-nav {
        display: none;
    }
}
@media (min-width: 768px) {
    .gallery-1 .img {
        // .slider-nav {
        //     display: none;
        // }
        >.row {
            height: 400px;
            overflow: hidden;
            margin: -5px;
            [class^="col-"], [class*=" col-"] {
                padding: 5px;
            }
            >*{
                cursor: pointer;
                .wrap-img {
                    padding-top: 125px;
                }
            }
            >*:nth-child(1), >*:nth-child(2), >*:nth-child(3) {
                .wrap-img {
                    padding-top: 250px;
                }
            }
            >*:nth-child(7) {
                .wrap-img {
                    .view-more {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 1;
                        color: #fff;
                        background: rgba($color1, 0.8);
                        font-size: 40px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .gallery-1 .img >.row {
        height: 520px;
        >* .wrap-img {
            padding-top: 185px;
        }
        >*:nth-child(1), >*:nth-child(2), >*:nth-child(3) {
            .wrap-img {
                padding-top: 310px;
            }
        }
    }
}

