/* header */

// $header-dessktop-height: 70px;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    @include box-shadow(5px 0px 6px #ccc);
    @extend %transition-1s;
    .navbar-brand {
        height: $header-dessktop-height;
        padding: 10px 15px;
        margin: 0 !important;
        img {
            height: 100%;
            width: auto;
        }
    }
    .navbar {
        margin-bottom: 0;
        border: 0;
        min-height: 40px;
        @extend %border-radius-0;
    }
    // @include navColor(#fff, #232, $color1);
    @include navColor(transparent, #232, $color1);
    .nav {
        margin-bottom: 0;
        >li>a {
            height: $header-dessktop-height;
            line-height: $header-dessktop-height;
            padding: 0 13px;
            font-weight: 500;
            // text-transform: uppercase;
            position: relative;
        }        
    }
    .navbar-toggle {
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        right: 0;
        @extend %block-center-y;
        padding: 10px 15px;
        margin-right: 0;
        display: none;
        .icon-bar {
            background: $color1;
            @include transition(all 0.2s ease-in);
        }
    }
    .navbar-toggle.close {
        @include opacity(1);
        .icon-bar:first-child {
            display: none;
        }
        .icon-bar:nth-child(2) {
            transform-origin: 43%;
            transform: rotate(45deg);
            margin: 0;
        }
        .icon-bar:nth-child(3) {
            transform-origin: 44%;
            transform: rotate(-45deg);
            margin: 0;
        }
    }
    .btn-close {
        display: none;
        height: 45px;
        line-height: 45px;
        padding: 0;
        text-align: center;
        color: #fff !important;
        background: $color1 !important;
        border: 1px solid $color1;
        &:hover {
            color: $color1 !important;
            background: #fff !important;
        }
        &:focus {
            color: $color1 !important;
            background: #fff !important;
        }
    }
}

// @media (min-width: 992px) {
    .header-desktop {
        .navbar {
            // background: #fff;
            background: rgba(255, 255, 255, 0.7);
        }
        &.scroll .navbar {
            background: #fff;
        }
        .navbar-brand {
            position: relative;
            z-index: 1;
            padding-left: 0;
        }
        .dropdown {
            margin-right: 15px;
        }
    }
// }

.header .overlay {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.15) !important;
    display: none;
    @extend %transition;
}

/* == mobile navbar */
// @media(max-width: 991px) {
    .header-mobile {
        @include box-shadow(none !important);
        .navbar-header {
            float: none;
            background: #fff;
            margin-right: -15px;
            margin-left: -15px;
            position: relative;
            @include box-shadow(5px 0px 6px #ccc);
        }
        .navbar-brand {
            height: 70px;
            margin-left: 0 !important;
            border-bottom: 1px solid #efefef;
        }
        .navbar-collapse {
            background: #fff;
            margin: 0 -15px;
            display: none !important;
            // max-height: calc(100vh - 70px);
            height: calc(100vh - 70px) !important;
            max-width: 300px;
            // width: fit-content;
            overflow-y: auto !important;
            @include animation-duration(0.3s);
        }
        .collapse.in {
            display: inline-block !important;
            position: relative;
            z-index: 2;
        }
        .nav {
            margin: 0 -15px;
            float: none !important;
            >li {
                float: none !important;
                >a{
                    height: 45px;
                    line-height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                }
                .btn-close {
                    display: block;
                }
            }
        }
        .navbar-toggle {
            display: block !important;
        }
    }
    .header-desktop {
        .navbar-collapse.collapse {
            padding: 0;
        }
    }
    
    .header-mobile.header.overlay {
        height: 100vh;
        background: rgba(0, 0, 0, 0.15) !important;
    }
// }

@media (max-width: 991px) {
    .header-mobile .navbar-header {
        border-bottom: 1px solid #efefef;
        .navbar-brand {
            border: 0;
        }
    }
}

/* == end mobile navbar */


// logo text
// .header .logo-text {
//     display: none;
//     text-transform: uppercase;
//     font-weight: 500;
//     // font-size: 14px;
//     // line-height: 19px;
    
// }

// .header .logo-text {
//     display: none;
//     text-transform: uppercase;
//     font-weight: 500;
//     font-size: 9px;
//     line-height: 13px;
//     padding-top: 10px;
//     color: #2674d4;
//     .br {
//         display: block !important;
//     }
// }

// @media (min-width: 320px) {
//     .header .logo-text {
//         display: inline-block;
//         font-size: 7px;
//     }
// }

// @media (min-width: 375px) {
//     .header .logo-text {
//         // display: inline-block;
//         font-size: 9px;
//     }
// }

// @media (min-width: 414px) {
//     .header .logo-text {
//         font-size: 9px;
//         line-height: 16px;
//         padding-top: 12px;
//         .br {
//             display: inline-block !important;
//         }
//     }
// }

// @media (min-width: 576px) {
//     .header .logo-text {
//         font-size: 12px;
//         line-height: 19px;
//         padding-top: 7px;
//     }
// }

// @media (min-width: 768px) {
//     .header .logo-text {
//         font-size: 14px;
//         line-height: 19px;
//     }
// }

// @media (min-width: 992px) and (max-width: 1199px) {
//     .header .logo-text {
//         font-size: 11px;
//     }
// }

// @media (min-width: 1200px) {
//     .header .logo-text {
//         font-size: 14px;
//         line-height: 19px;
//     }
// }

// .footer .logo-text {
//     display: inline-block;
//     text-transform: uppercase;
//     font-weight: 500;
//     font-size: 13px;
//     line-height: 22px;
//     letter-spacing: -0.1px;
// }

// @media (min-width: 360px) {
//     .footer .logo-text {
//         font-size: 14px;
//     }
// }

// .logo-img-text {
//     display: inline-block;
//     img {
//         height: auto;
//         width: auto;
//     }
// }
// .footer .logo-img-text img {
//     margin-bottom: 3px;
//}

/* end header */