@import '../abstracts/variable';
@import '../abstracts/mixin';
.wrapStarProduct {
    font-size: 16px;
    color: $color1;
    padding: 15px;
    margin: 0 0 10px 0;
}

.padu0 {
    padding-top: 0;
}

.titleHeaddingItemProject {
    color: $color2;
}

.wrapImgResizeItemProject {
    background-color: $color4;
}

.linkTitleItemProject {
    background-color: $color1;
    &:hover {
        .titleHeaddingItemProject {
            color: $color3;
        }
    }
}

.contentItemProject {
    &:hover {
        .imgItemProject {
            @include opacity(0.2);
        }
    }
}

.listProject {
    margin-top: 0;
}

.wrapListProject {
    padding-top: 60px;
}

@media (max-width: 991.8px) {
    .wrapListProject {
        padding-top: 15px;
    }
}