    .sec-photo {
        .sec-title {
            text-align: left;
            .title {
                font-weight: 600;
                color: $color1;
                padding: 5px 15px;
                border-left: 5px solid $color1;
            }
        }
        .decs {
            margin-top: 30px;
            font-size: 20px;
            text-align: justify;
        }
        .wrapimg {
            img {
                opacity: 1;
            }
        }
    }
    
    @media(max-width:767.8px) {
        .sec-photo {
            .sec-title {
                margin-bottom: 20px;
            }
            .pagination {
                margin: 20px 0 0;
            }
            .decs {
                margin-top: 20px;
                font-size: 20px;
            }
        }
    }
    
    @media(max-width:575px) {
        .sec-photo {
            .sec-title {
                margin-bottom: 15px;
                .title {
                    font-size: 1.8em;
                    padding: 3px 10px;
                    border-left: 4px solid $color1;
                }
            }
            .decs {
                margin-top: 15px;
                font-size: 15px;
            }
            .pagination {
                margin: 15px 0 0;
            }
        }
    }