// promo
.promo {
	.item {
		overflow: hidden;
		position: relative;
		.wrap-img {
			padding-top: 56.25%;
		}
		// &:hover {
		// 	.wrap-img {
		// 		@include transform(scale(1.05));
		// 	}
		// }
		// .wrap-discount-tag {
		// 	text-align: right;
		// }
		.discount-tag {
			position: absolute;
			top: 15px;
			right: 15px;
			font-size: 0.9em;
			display: inline-block;
			padding: 5px 8px;
			color: #fff;
			background: $color1;
			font-weight: 600;
			border-radius: 4px;
			box-shadow: -3px 3px 2px 2px #fff;
		}
		.content {
			padding: 15px;
			color: #fff;
			// position: absolute;
			// top: 0;
			// left: 0;
			// width: 100%;
			// height: 100%;
			// background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
			.body {
				// position: absolute;
				// bottom: 15px;
				// left: 15px;
				// right: 15px;
			}
			
			.title {
				margin-top: 5px;
				margin-bottom: 0;
				font-size: 22px;
				text-transform: uppercase;
				font-weight: 700;
			}
			.provide {
				display: inline-block;
				margin-top: 3px;
				font-size: 0.95em;
			}
			// .duetime {
			// 	letter-spacing: 2px;
			// 	font-size: 0.9em;
			// 	display: none;
			// }
			.wrap-price {
				margin-top: 5px;
			}
			.price {
				font-size: 24px;
                color: $color1;
				font-weight: 700;
			}
			.btn-more {
				display: block;
				height: 40px;
				width: 40px;
				border-radius: 50%;
				font-size: 20px;
				color: #fff;
				background: $color1;
				position: absolute;
				right: 15px;
				bottom: 15px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 32px;
			}
		}
	}
}

@media (min-width: 768px) {
	.promo .item .content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
		// background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
		.body {
			position: absolute;
			bottom: 15px;
			left: 15px;
			right: 15px;
		}
	}
}

@media (max-width: 767px) {
	.promo .item .content {
		background: $color5;
	}
}