.sec-gallery {
    .item {
        .wrapimg {
            img {
                opacity: 1;
            }
            &:hover {
                .content {
                    top: 10px;
                    right: 10px;
                    bottom: 10px;
                    left: 10px;
                    border: 2px solid #fff;
                }
            }
        }
    }
    .service {
        padding: -15px 0;
        .content {
            background-color: rgba(0, 0, 0, 0.15);
            .body {
                #viewPhoto {
                    display: block;
                    background-color: $color1;
                    width: 135px;
                    padding: 0 10px;
                    margin: 15px auto;
                    @include box-shadow(rgba(0, 0, 0, 0.5) 0px 5px 10px);
                    &:hover {
                        background-color: $color7!important;
                        color: $color1;
                    }
                }
            }
        }
    }
    .pagination {
        margin-top: 15px;
    }
    .sec-title {
        margin-bottom: 15px;
    }
}

.rowGallery {
    margin: 15px 0;
}

@media(max-width:575px) {
    .sec-gallery {
        .sec-title {
            margin-bottom: 7.5px;
        }
        .pagination {
            margin-top: 7.5px;
        }
    }
    .rowGallery {
        margin: 7.5px 0;
    }
}