@import '../abstracts/variable';
@import '../abstracts/mixin';
@import "../layout/titles";
@import "../component/form";
.wrapContact {
    padding: 60px 0 45px 0;
    .contentContact {
        .rowContact {
            margin: 0;
        }
    }
    .wrapcaptcha {
        display: flex;
        align-items: center;
    }
    .colFrmContact {
        width: 60%;
        float: left;
        .contentSologanLocation {
            color: $color8;
            padding: 15px 0;
            p {
                margin: 0;
            }
        }
    }
    .colTextContact {
        float: right;
        width: 40%;
        padding-right: 0;
        .bgImgage {
            background-image: url('../images/GrandGosia.jpg');
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            z-index: 1;
            height: 619.2px;
            display: flex;
            align-items: center;
            &::before {
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: $color1;
                opacity: 0.8;
            }
        }
    }
    .colFrmMap {
        width: 60%;
        float: left;
    }
    .colTextMap {
        float: right;
        width: 40%;
        .bgLocation {
            position: relative;
            z-index: 1;
            display: flex;
            background-color: $color7;
            height: 400px;
            align-items: center;
            .wrapTextLocation {
                width: 100%;
                padding: 0 60px;
                margin: auto;
                .titleTextContact {
                    color: $color1;
                    padding-bottom: 15px;
                }
                .contentSologanLocation {
                    color: $color8;
                    padding-bottom: 15px;
                }
                p {
                    font-size: 14px;
                    line-height: 25px;
                    margin: 0;
                }
                #directions {
                    label {
                        text-transform: capitalize;
                        margin: 0;
                    }
                    .form-group {
                        margin-bottom: 0;
                        input {
                            border: none;
                            outline: none;
                            border-bottom: 1px solid $color9;
                            box-shadow: none;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    #directionsPanel {
        margin-top: 15px;
        .adp-directions {
            width: 100%;
        }
        .adp-text {
            padding: 0 10px!important;
        }
        .adp,
        .adp table {
            width: 100%;
        }
    }
}

.titleTextContact,
.titleFrmContact {
    color: $color2;
    display: block;
    text-align: left;
}

.wrapTextLocation {
    .titleTextContact {
        padding-bottom: 30px;
    }
}

.wrapTexInfoContact {
    line-height: 25px;
    color: $color7;
    margin-top: 15px;
    font-family: $title-fontfamily;
    margin: auto;
    font-weight: 400;
    .wrapflex {
        display: flex;
        padding-bottom: 30px;
        .flex-col {
            display: -webkit-flex;
            flex-direction: column;
        }
        a {
            color: $color7;
            font-weight: 400;
            @include transition(0.5s);
            &:hover {
                color: $color9;
                text-decoration: none;
            }
        }
        b {
            color: $color7;
            margin-bottom: 5px;
            font-weight: 400;
            &:hover {
                color: $color9;
            }
        }
        .icon {
            display: block;
            padding-right: 10px;
            i {
                color: $color7;
                line-height: 30px;
                width: 30px;
                height: 30px;
                border: 1px solid $color7;
                border-radius: 100%;
                text-align: center;
            }
        }
        span {
            display: none;
        }
        &:nth-child(3) {
            padding: 0;
        }
    }
    .wrapContentContact {
        margin: auto;
        padding: 0 60px;
    }
}

.col-no-gutters {
    padding-left: 0;
    padding-right: 0;
}

.wrapFrmSendMessage {
    .form-control {
        font-size: 16px;
        height: 50px;
        box-shadow: none;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $color9;
    }
    .form-group {
        margin-bottom: 15px;
        border-radius: 0;
        label {
            font-weight: 600;
            margin-bottom: 0;
            color: $color8;
        }
        input {
            padding: 0;
        }
    }
    .colInputFrmSendMessage {
        padding: 0 7.5px;
    }
    .rowtwoSendMessage {
        display: flex;
        .line {
            width: 100%;
            &:nth-child(1) {
                margin-right: 7.5px;
            }
            &:nth-child(2) {
                margin-left: 7.5px;
            }
        }
    }
}

.lblSendMessageContact {
    font-size: 15px;
    line-height: 50px;
    font-weight: 500;
    color: $color8;
    padding: 0 15px;
    width: 100%;
    border: 1px solid $color9;
    margin: -1px 0;
    height: 50px;
}

.wrapContactus {
    padding: 60px;
}

.colFrmContact {
    background-color: $color7;
}

// captcha
.btnSendMessageContact,
.imageRefreshCaptchaContact,
.imageCaptchaContact {
    float: left;
    margin-left: 15px;
}

.btnSendMessageContact {
    height: 50px;
    padding: 0 50px;
}

.formControlCodeCaptchaContact {
    width: 100%;
    padding: 0;
}

.imageRefreshCaptchaContact,
.imageCaptchaContact {
    height: 25px;
    width: auto;
}

.btnSendMessageContact {
    line-height: 34px;
}

// end captcha
.wrapShare {
    display: flex;
    .titleShare {
        margin-right: 5px;
        font-weight: 700;
    }
}

//Position
#message {
    min-height: 50px;
    max-height: 50px;
    padding: 12.5px 0 0;
}

.wrapTexInfoContact {
    p {
        margin-bottom: 0;
    }
}

.wrapCodeCaptchaContact {
    .wrapsendMessage {
        display: flex;
        align-items: center;
    }
    label {
        font-weight: 600;
        margin-bottom: 0;
        color: $color8;
    }
}

@media(max-width:1199px) {
    .rowContentMap {
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width:991.8px) {
    .colTextContact {
        .bgImgage {
            .wrapContentContact {
                padding: 30px;
            }
        }
    }
    .colFrmContact {
        .wrapsendMessage {
            .btnSendMessageContact,
            .imageRefreshCaptchaContact,
            .imageCaptchaContact {
                margin-left: 7.5px;
            }
            .btnSendMessageContact {
                padding: 0 25px;
            }
            .formControlCodeCaptchaContact {
                width: 100%;
            }
        }
    }
}

@media (max-width: 767.8px) {
    .wrapContact {
        .colFrmContact,
        .colTextContact,
        .colFrmMap,
        .colTextMap {
            float: none;
            width: 100%;
        }
        .colTextContact {
            margin-top: 0;
            .bgImgage {
                height: auto;
                .wrapContentContact {
                    padding: 60px;
                }
                .wrapTexInfoContact {
                    margin: 0;
                    .wrapflex {
                        align-items: center;
                        padding-bottom: 15px;
                        .flex-col {
                            display: inline-block;
                            span {
                                display: inline;
                            }
                        }
                        &:nth-child(3) {
                            padding: 0;
                        }
                    }
                }
            }
        }
        .colTextMap {
            .bgLocation {
                height: auto;
                .wrapTextLocation {
                    padding: 60px;
                    .titleTextContact,
                    .contentSologanLocation {
                        padding-bottom: 15px;
                    }
                }
            }
        }
        .col-no-gutters,
        .rowContentMap {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .colFrmContact {
        .wrapsendMessage {
            .btnSendMessageContact,
            .imageRefreshCaptchaContact,
            .imageCaptchaContact {
                margin-left: 15px;
            }
            .btnSendMessageContact {
                padding: 0 50px;
            }
        }
    }
    #message {
        max-height: 100px;
    }
}

@media(max-width:575.8px) {
    .wrapCodeCaptchaContact {
        display: block;
        label {
            width: 100%;
        }
        .wrapsendMessage {
            display: block;
            .formControlCodeCaptchaContact {
                width: 100%;
                margin-bottom: 15px;
            }
            .imageCaptchaContact,
            .imageRefreshCaptchaContact {
                margin: 12.5px 15px 12.5px 0;
            }
        }
    }
    .wrapContact {
        padding: 15px 0 15px 0;
        .colTextContact {
            .bgImgage {
                padding: 0;
                .wrapContentContact {
                    padding: 30px;
                }
            }
        }
        .wrapTexInfoContact {
            font-size: 15px;
            line-height: 20px;
        }
        .colFrmContact,
        .contentFrmContact {
            margin-top: 15px;
        }
        .rowContentMap {
            padding-top: 5px;
        }
        .colTextMap {
            .bgLocation {
                .wrapTextLocation {
                    padding: 30px;
                }
            }
        }
        .colFrmContact {
            .wrapsendMessage {
                .btnSendMessageContact {
                    padding: 0 25px;
                }
            }
        }
        .wrapContactus {
            padding: 30px;
        }
    }
}

@media(max-width:375.8px) {
    .wrapContact {
        .colTextContact {
            .bgImgage {
                .wrapTexInfoContact {
                    .wrapContentContact {
                        padding: 15px;
                        .wrapflex {
                            align-items: flex-start;
                            .flex-col {
                                display: -webkit-flex;
                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .wrapContactus {
            padding: 15px;
            .contentSologanLocation {
                padding: 15px 0;
            }
        }
        .btnSendMessageContact {
            padding: 0 25px;
        }
        .colTextMap {
            .bgLocation {
                .wrapTextLocation {
                    padding: 15px;
                }
            }
        }
    }
}