@import '../abstracts/variable';
@import '../abstracts/mixin';
@import "../layout/titles";
@import "../component/form";
.wrapContact {
    padding: 60px 0;
    .contentCategory {
        margin: 0;
    }
    #Share {
        padding-top: 5px;
    }
    .wrapcaptcha {
        display: flex;
        align-items: center;
    }
    #directions {
        label {
            @extend .titleCategory4;
            color: $color2;
            display: block;
        }
        input {
            @extend .form-control;
            border: 1px solid $color9;
            margin-top: 10px;
        }
    }
}

.titleTextContact,
.titleFrmContact {
    color: $color2;
    display: block;
}

.wrapTexInfoContact {
    font-size: 16px;
    line-height: 24px;
    color: $color7;
    margin-top: 10px;
    font-family: $title-fontfamily;
    a {
        color: $color8;
        font-weight: 400;
        @include transition(0.5s);
        &:hover {
            color: $color2;
            text-decoration: none;
        }
    }
    b {
        color: $color8;
    }
    i {
        color: $color8;
        margin-right: 5px;
    }
}

.listFanpageContatc {
    margin-top: 15px;
    a {
        color: $color8;
        @include transition(0.5s);
        display: inline-block;
        font-size: 18px;
        margin-left: 15px;
        &:first-child {
            margin-left: 0;
        }
        &:hover {
            color: $color3;
            text-decoration: none;
        }
    }
}

.wrapFrmSendMessage {
    padding-top: 5px;
    .form-control {
        font-size: 18px;
        height: 40px;
    }
    .form-group {
        margin-bottom: 5px;
    }
}

.lblSendMessageContact {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: $color8;
    margin: 0 0 5px 0;
    width: 100%;
}

.contentFrmContact {
    margin-top: 15px;
}

// captcha
.btnSendMessageContact,
.imageRefreshCaptchaContact,
.imageCaptchaContact,
.formControlCodeCaptchaContact {
    float: left;
    margin-left: 15px;
}

.btnSendMessageContact {
    height: 40px;
    padding: 0 20px;
}

.formControlCodeCaptchaContact {
    margin-left: 0;
    width: 150px;
}

.imageRefreshCaptchaContact,
.imageCaptchaContact {
    height: 25px;
    width: auto;
    margin-top: 6px;
}

.btnSendMessageContact {
    line-height: 34px;
}

.formControlSendMessageContact {
    border-radius: 0;
}

// end captcha
.wrapShare {
    display: flex;
    .titleShare {
        margin-right: 5px;
        font-weight: 700;
    }
}

//Position
.contentCategory {
    margin-top: 10px;
}

#directions {
    label {
        color: $color1;
        font-size: 18px;
        margin-bottom: 15px;
    }
}

#Message {
    height: 120px;
}

.wrapTexInfoContact {
    p {
        margin-bottom: 5px;
    }
}

@media (max-width: 991.8px) {
    .colFrmContact,
    .contentFrmContact {
        margin-top: 30px;
    }
    .wrapMap {
        margin-top: 30px;
    }
}

@media (max-width: 767.8px) {
    .formControlCodeCaptchaContact {
        float: none;
        width: 100%;
        margin: 0 0 15px 0;
    }
    .btnSendMessageContact {
        float: none;
        margin: 0;
        padding-left: 10px;
        clear: both;
    }
    .imageCaptchaContact {
        margin-left: 0;
    }
    .wrapMap {
        height: 250px;
    }
    .imageRefreshCaptchaContact,
    .imageCaptchaContact {
        margin-top: 7.5px;
    }
    .imageRefreshCaptchaContact {
        margin-right: 10px;
    }
    .wrapContact {
        padding: 30px 0;
        #Share {
            padding-top: 10px;
        }
    }
}

@media(max-width:575px) {
    .wrapContact {
        .wrapFrmSendMessage {
            margin-top: 0;
            .form-group {
                margin-bottom: 5px;
            }
        }
    }
    .colFrmContact,
    .contentFrmContact {
        margin-top: 15px;
    }
    .wrapTexInfoContact {
        margin-top: 5px;
    }
}