@import '../abstracts/variable';
@import '../abstracts/mixin';
@import "../layout/titles";
@import "../component/form";
.wrapContact {
    padding: 60px 0;
    .contentCategory {
        margin-top: 15px;
        #directionsPanel {
            margin-top: 15px;
            .adp-directions {
                width: 100%;
            }
            .adp-text {
                padding: 0 10px!important;
            }
        }
    }
    .wrapcaptcha {
        display: flex;
        align-items: center;
    }
    .rowContact {
        min-height: 725px;
    }
    .colFrmContact,
    .colTextContact {
        width: 50%;
    }
    .colFrmContact {
        float: right;
    }
    .colTextContact {
        float: left;
    }
    .colTextContact {
        padding-right: 0;
        .bgImgage {
            background-image: url('../images/deluxe-double-4.jpg');
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            z-index: 1;
            padding: 30px 15px 15px;
            min-height: 725px;
            display: flex;
            align-items: center;
            &::before {
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: $color1;
                opacity: 0.7;
            }
        }
        .rowContentMap {
            min-height: 400px;
        }
    }
    .rowMap {
        padding: 15px 0 0 15px;
    }
}

.titleTextContact,
.titleFrmContact {
    color: $color2;
    display: block;
    text-align: center;
    padding-top: 30px;
}

.wrapTexInfoContact {
    font-size: 20px;
    line-height: 25px;
    color: $color7;
    margin-top: 15px;
    font-family: $title-fontfamily;
    margin: auto;
    font-weight: 400;
    .wrapflex {
        display: flex;
        padding-bottom: 30px;
        .flex-col {
            display: -webkit-flex;
            flex-direction: column;
        }
        a {
            color: $color7;
            font-weight: 400;
            @include transition(0.5s);
            &:hover {
                color: $color2;
                text-decoration: none;
            }
        }
        b {
            color: $color7;
            margin-bottom: 5px;
            font-weight: 400;
        }
        i {
            color: $color7;
            margin-right: 15px;
        }
        span {
            display: none;
        }
    }
    #directions {
        width: 100%;
        .titleContact {
            color: $color7;
        }
        .form-group {
            margin: 0;
            input {
                border: none;
            }
        }
    }
    .wrapContentContact {
        width: 75%;
        margin: auto;
    }
}

.col-no-gutters {
    padding-left: 0;
    padding-right: 0;
}

.listFanpageContatc {
    margin-top: 15px;
    a {
        color: $color8;
        @include transition(0.5s);
        display: inline-block;
        font-size: 18px;
        margin-left: 15px;
        &:first-child {
            margin-left: 0;
        }
        &:hover {
            color: $color3;
            text-decoration: none;
        }
    }
}

.wrapFrmSendMessage {
    padding: 15px 0 30px 0;
    .form-control {
        font-size: 16px;
        height: 50px;
        box-shadow: none;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .colInputFrmSendMessage {
        padding: 0 7.5px;
    }
    .FullName {
        .form-control:nth-child(2) {
            margin-left: -1px;
        }
    }
}

.lblSendMessageContact {
    font-size: 15px;
    line-height: 50px;
    font-weight: 500;
    color: $color8;
    padding: 0 15px;
    width: 100%;
    border: 1px solid $color9;
    margin: -1px 0;
    height: 50px;
}

.wrapContactus {
    margin: 0 15px;
}

.colFrmContact {
    background-color: $color7;
    min-height: 200px;
}

// captcha
.btnSendMessageContact,
.imageRefreshCaptchaContact,
.imageCaptchaContact,
.formControlCodeCaptchaContact {
    float: left;
    margin-left: 15px;
}

.btnSendMessageContact {
    height: 50px;
    padding: 0 50px;
}

.formControlCodeCaptchaContact {
    margin-left: -1px;
    width: 25%;
}

.imageRefreshCaptchaContact,
.imageCaptchaContact {
    height: 25px;
    width: auto;
}

.btnSendMessageContact {
    line-height: 34px;
}

.formControlSendMessageContact {
    border-radius: 0;
}

// end captcha
.wrapShare {
    display: flex;
    .titleShare {
        margin-right: 5px;
        font-weight: 700;
    }
}

//Position
.contentCategory {
    margin-top: 10px;
}

#message {
    min-height: 100px;
    border-radius: 0;
}

.wrapTexInfoContact {
    p {
        margin-bottom: 0;
    }
}

.FullName {
    display: flex;
}

.wrapCodeCaptchaContact {
    .wrapsendMessage {
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
}

@media(max-width:1199px) {
    .rowContentMap {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 767.8px) {
    .wrapMap {
        height: 250px;
    }
    .imageRefreshCaptchaContact {
        margin-right: 10px;
    }
    .wrapContact {
        .colFrmContact,
        .colTextContact {
            float: none;
            width: 100%;
        }
        .colTextContact {
            min-height: 300px;
            margin-top: 0;
            .bgImgage {
                min-height: 300px;
                padding: 0;
                .wrapContentContact {
                    width: 90%;
                }
                .wrapTexInfoContact {
                    margin: 0;
                    .wrapflex {
                        padding-bottom: 15px;
                        .flex-col {
                            display: inline-block;
                            span {
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
        .col-no-gutters,
        .rowContentMap {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media(max-width:575.8px) {
    .wrapCodeCaptchaContact {
        display: block;
        label {
            width: 100%;
        }
        .wrapsendMessage {
            display: block;
            .formControlCodeCaptchaContact {
                width: 100%;
                margin-bottom: 15px;
            }
            .imageCaptchaContact,
            .imageRefreshCaptchaContact {
                margin: 12.5px 15px 12.5px 0;
            }
        }
    }
    .wrapContact {
        padding: 15px 0 30px 0;
        .colTextContact {
            .bgImgage {
                padding: 0;
            }
        }
        .wrapTexInfoContact {
            font-size: 15px;
            line-height: 20px;
        }
        .colFrmContact,
        .contentFrmContact {
            margin-top: 15px;
        }
        .contentCategory {
            margin-top: 15px;
        }
        .rowContentMap {
            padding-top: 5px;
        }
    }
}

@media(max-width:320px) {
    .wrapContact {
        .colTextContact {
            .bgImgage {
                .wrapTexInfoContact {
                    .wrapflex {
                        .flex-col {
                            display: -webkit-flex;
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .btnSendMessageContact {
            padding: 0 25px;
        }
    }
}