@import '../abstracts/variable';
@import '../abstracts/mixin';
.wrapNewsDetail {
    padding: 60px 0;
}

.wrapImgNewsDetail {
    padding: 0 15px 15px 0;
    width: 50%;
    float: left;
}

.imgPostNewsDetail {
    width: 100%;
    height: auto;
}

.showTextPostNewsDetail {
    color: $color10;
    font-size: 15px;
    line-height: 1.2;
    margin-top: 15px;
    .titlePostNewsDetail {
        font-size: 2.3em;
        line-height: 1.1;
        font-weight: 400;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

#ShareofNews {
    margin: 10px 0 5px 0;
}

@media (max-width: 991.8px) {
    .wrapNewsDetail {
        padding: 30px 0;
    }
    .wrapShare {
        margin-top: 0;
    }
    .colNewsListOthers {
        margin-top: 30px;
    }
}

// list news others
.elementSlideLatestNews {
    margin-top: 15px;
    padding: 0;
}

// end list news others
@media(max-width:767.8px) {
    .showTextPostNewsDetail {
        .titlePostNewsDetail {
            font-size: 2em;
        }
    }
}

@media(max-width:575.8px) {
    .showTextPostNewsDetail {
        .titlePostNewsDetail {
            font-size: 1.5em;
        }
        #ShareofNews {
            clear: both;
        }
    }
}