@import '../abstracts/variable';
@import '../abstracts/mixin';
.wrapNewsDetail {
    padding: 60px 0;
}

.wrapImgNewsDetail {
    padding: 0 15px 15px 0;
    width: 50%;
    float: left;
    .wrapImg {
        background-color: $color8;
        overflow: hidden;
        height: 300px;
        .imgPostNewsDetail {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
        }
    }
    .slick-dots li button::before {
        color: $color7;
    }
}

.imgPostNewsDetail {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.showTextPostNewsDetail {
    color: $color10;
    font-size: 15px;
    line-height: 1.2;
    margin-top: 15px;
    .titlePostNewsDetail {
        font-size: 2.3em;
        line-height: 1.1;
        font-weight: 400;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

#ShareofNews {
    margin: 10px 0 5px 0;
}

@media (max-width: 991.8px) {
    .wrapNewsDetail {
        padding: 15px 0 30px 0;
    }
    .wrapShare {
        margin-top: 0;
    }
    .colNewsListOthers {
        margin-top: 30px;
    }
}

// list news others
.elementSlideLatestNews {
    margin-top: 15px;
    padding: 0;
}

// end list news others
@media(max-width:767.8px) {
    .showTextPostNewsDetail {
        .titlePostNewsDetail {
            font-size: 2em;
        }
    }
}

@media(max-width:575.8px) {
    .wrapImgNewsDetail {
        float: none;
        width: 100%;
        padding: 0 0 10px 0;
    }
    .showTextPostNewsDetail {
        .titlePostNewsDetail {
            font-size: 1.5em;
        }
        #ShareofNews {
            clear: both;
        }
    }
}