    @import '../abstracts/variable';
    @import '../abstracts/mixin';
    .wrapListProject {
        padding: 45px 0 60px 0;
        .colItemImage {
            margin: 15px 0;
        }
        .pagination {
            margin-top: 15px;
        }
    }
    
    .listProject {
        margin-top: 15px;
    }
    
    .rowListProject {
        margin: 0 -7.5px;
    }
    
    .wrapImgResizeItemProject {
        background-color: $color8;
        display: block;
    }
    
    .wrapTextItemProject {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    
    .titleHeaddingItemProject {
        font-size: 18px;
        line-height: 24px;
        font-family: $title-fontfamily;
        font-weight: 700;
        color: $color1;
        @include splitText(2, 48px);
        margin: 0;
        @include transition(0.5s);
    }
    
    .desciptionItemProject {
        font-size: 14px;
        line-height: 20px;
        color: $color1;
        @include splitText(3, 72px);
        margin: 0 0 10px 0;
        padding: 0 15px;
    }
    
    .linkTitleItemProject {
        background-color: $color8;
        display: block;
        @include translate(0, -100%);
        padding: 10px 15px;
        @include borderRadius(0 0 10px 10px);
        @include transition(0.5s);
        &:hover {
            text-decoration: none;
            .titleHeaddingItemProject {
                color: $color2;
            }
        }
    }
    
    .btnWatchMoreProject {
        margin: 0 15px;
    }
    
    .wrapTextItemProject,
    .wrapImgResizeItemProject,
    .imgItemProject {
        @include transition(0.5s);
    }
    
    .contentItemProject {
        position: relative;
        overflow: hidden;
        &:hover {
            .linkTitleItemProject {
                background-color: transparent;
                @include translate(0, 0);
            }
            .wrapTextItemProject {
                top: 50%;
                @include translate(0, -50%);
            }
            .imgItemProject {
                @include opacity(0.5);
            }
        }
    }
    
    @media (max-width: 991.8px) {
        .listProject {
            margin-top: 0;
        }
    }
    
    @media(max-width:575.8px) {
        .wrapListProject {
            padding: 15px 0 30px 0;
        }
    }