.btn {
    height: $btn-height;
    line-height: $btn-height - 2px;
    padding: 0 12px;
    // font-size: 14px;
    font-size: 1em;
    font-weight: 600;
    // letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    @include border-radius(0);
    @include transition(all .35s linear);
}

@mixin btn0($color, $bg-color, $border-color) {
    color: $color;
    background: $bg-color;
    border-color: $border-color;
}

.btn1 {
    @include btn0(#fff, $color1, $color1);
    &:hover {
        @include btn0($color1, #fff, $color1);
    }
}

.btn-text {
    cursor: pointer;
    color: $color1;
    font-weight: 500;
    // text-transform: uppercase;
    border-bottom: 2px solid $color1;
    @include transition(all .35s linear);
    .fa {
        margin: 0 3px;
    }
    &:hover {
        color: #000;
        border-color: #000;
    }
}

.btnType4,
.btnType3,
.btnType2,
.btnType1 {
    @include borderRadius(5px);
    line-height: 50px;
    padding: 0 15px;
    border: 2px solid $color1;
    color: $color7;
    line-height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
    background-color: $color1;
    font-family: $title-fontfamily;
    min-width: 225px;
    text-align: center;
    @include transition(0.5s);
    &:hover {
        background-color: $color7;
        border-color: $color1;
        text-decoration: none;
        color: $color1;
    }
}

.btnType2 {
    background-color: $color2;
    border-color: $color2;
    color: $color1;
    min-width: auto;
    min-width: unset;
    min-width: none;
    &:hover {
        background-color: $color2;
        color: $color1;
    }
}

.btnType3 {
    font-size: 12px;
    line-height: 24px;
    min-width: auto;
    min-width: unset;
    min-width: none;
}

.btnType4 {
    background-color: $color1;
    color: $color2;
    min-width: auto;
    min-width: none;
    min-width: unset;
}