// /* popup book form */

// .modal.booking-form {
//     padding-left: 0 !important
// }

// .modal.booking-form .modal-dialog {
//     max-width: 510px;
//     margin: 60px auto;
// }

// .modal.booking-form .wrap-btn {
//     width: 100%;
//     margin-bottom: 15px;
// }

// .modal .modal-header {
//     border: 0;
// }

// .modal .modal-header .btn-close {
//     float: right;
//     padding: 6px;
//     width: 36px;
//     height: 36px;
//     line-height: 22px;
//     background: rgba($color-main-1, 0.5);
//     border-color: rgba($color-main-1, 0.5);
// }

// .modal .modal-header .btn-close:hover {
//     background: $color-main-1;
//     border-color: $color-main-1;
// }

// .modal .title {
//     line-height: 36px;
//     text-align: center;
//     text-transform: uppercase;
// }


.modal {
    position: fixed;
    @extend %bg-cover;
    &.has-bg-src::before {
        display: none;
    }
    .logo {
        width: 130px;
        margin: auto;
        margin-bottom: 10px;
        img {
            height: auto;
        }
    }
    .box-title {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
    }
    // .btn-close {
    //     position: absolute;
    //     top: -20px;
    //     left: -10px;
    //     z-index: 1;
    //     @include circel(40px);
    // }
    .close {
        position: absolute;
        left: 0;
        // top: -32px;
        top: 0;
        width: 32px;
        height: 32px;
        // opacity: 0.3;
        @include opacity(0.5);
        z-index: 1;
        &:hover {
            opacity: 1;
        }
        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background: #000;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }    
    .policy {
        font-size: 0.9em;
        margin-top: 15px;
        a {
            cursor: pointer;
            color: $color1;
            text-decoration: underline !important;
            &:hover {
                color: #000;
            }
        }
    }
}

@media (min-width: 768px) {
    .modal {
        .close {
            left: auto;
            right: 0;
        }
    }
}

.or {
    position: relative;
    text-align: center;
    margin: 10px 0;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 30%;
        right: 30%;
        border-top: 1px solid;
        @include opacity(0.1);
    }
    span {
        background: #fff;
        padding: 0 10px;
        position: relative;
        z-index: 1;
    }
}

.modal-login-form .modal-dialog {
    max-width: 300px;
    margin: 30px auto 10px auto;
    .btn {
        width: 100%;
    }
}

.signin-with {
    // margin-bottom: 10px;
    .btn {
       color: #fff;
       position: relative;
       margin-bottom: 10px;
       .fa {
           font-size: 20px;
           margin-right: 20px;
           position: absolute;
            top: 10px;
            left: 10px;
       }
       &:hover {
           background: #000;
        //    @include opacity(0.7);
       }
    }
}

.btn-fb {
    background: $color-facebook;
}
.btn-go {
    background: $color-google;
}

@media (min-width: 768px) {
    .modal {
        &.has-bg-src {
            background-image: none !important;
        }
        .modal-dialog {
            max-width: 450px;
        }
        .modal-body {
            padding: 15px 30px;
        }
        .logo {
            width: 140px;
        }
        .close {
            left: auto;
            right: 0;
        }
    }
}


// @media (max-width: 767px) {
//     .modal.booking-form .modal-dialog {
//         max-width: 350px;
//         margin: 30px auto
//     }
//     .modal.booking-form .modal-content {
//         margin: 5px;
//     }
//     .modal .modal-header .btn-close {
//         float: left;
//     }
// }