/* form */

label {
    color: #555;
    font-weight: 500;
}

textarea {
    resize: vertical;
}

select option {
    font-weight: 400;
    padding: 5px 0;
}

.input-group {
    width: 100%;
}

.form .form-control {
    height: 45px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 0;
    padding: 4px 12px;
    font-size: 1em;
    color: #555;
    background-color: #fff;
    position: relative;
    z-index: 1;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    &:focus {
        border-color: $color1;
    }
}

.form textarea.form-control {
    height: auto;
}

.form-control:focus {
    @include box-shadow(none);
}

.date .input-group {
    position: relative;
    input {
        width: 100%;
        background: transparent;
    }
    .input-group-icon {
        position: absolute;
        right: 0;
        @extend %block-center-y;
    }
}


/* end form */