/* form contact notification */
.contact-notification {       
    &.animated {
        animation-duration: 0.5s;
    }
    .modal-dialog {
        max-width: 350px;
        margin: auto;
        margin-top: 10vh;
    }
    .logo {
        width: 200px;
    }
    .contact-success {
        // display: none;
    }
    .loading-email {
        position: absolute;
        z-index: 1;
        &.animated {
            animation-delay: 1.5s;
        }
    }
}
/* form contact notification */