.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 90000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .loader-icon {
        text-align: center;
        img {
            max-width: 180px;
            margin-bottom: 10px;
        }
        .wrap-line {
            width: 180px;
            height: 6px;
            display: flex;
            overflow: hidden;
            background: #f2f2f2;
            @include border-radius(999px);
            .line {
                width: 16px;
                height: 6px;
                margin-left: -8px;
                background: $color1;
                @include border-radius(999px);
                animation: line 2s infinite;
                -webkit-animation: line 2s infinite;
                -moz-animation: line 2s infinite;
                -ms-animation: line 2s infinite;
                -o-animation: line 2s infinite;
            }
        }
    }
}
@-moz-keyframes line {
    50% {
        margin-left: 172px;
    }
}
@-webkit-keyframes line {
    50% {
        margin-left: 172px;
    }
}
@-o-keyframes line {
    50% {
        margin-left: 172px;
    }
}
@keyframes line {
    50% {
        margin-left: 172px;
    }
}