/* slider */

// slick-theme.css slider
.slick-initialized.slick-dotted.slick-slider {
    margin-bottom: 20px;
    .slick-dots {
        bottom: -30px;
    }
}
// .slick-arrow {
//     font-size: 0;
//     line-height: 0;
//     padding: 0;
// }
.slick-dots {
	position: absolute;
	bottom: -35px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	li {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		button {
			font-size: 0;
			line-height: 0;
			display: block;
			width: 20px;
			height: 20px;
			padding: 5px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: none;
            background: transparent;
            &::before {
                // font-family: 'slick';
                // font-size: 6px;
                // line-height: 20px;

                font-size: 70px;
                // font-size: 45px;
                line-height: 7px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '•';
                text-align: center;
                opacity: .25;
                color: black;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            
		}
	}
	li.slick-active {
		button {
			&:before {
				opacity: 1;
				filter: alpha(opacity=100);
				-webkit-filter: alpha(opacity=100);
				color: $color1;
				opacity: .75;
				color: black;
			}
		}
	}
}

.slider {
    .wow, .animated {
        display: none;
    }
    .slick-current .wow,
    .slick-current .animated {
        display: block;
    }

    .slick-arrow {
        position: absolute;
        font-size: 25px;
        padding: 0 15px ;
        background:#e4e4e4;
        &:hover {
            color: #fff;
            background: $color1;
        }
    }
    &.arrow-bottom {
        padding-bottom: 60px;
        .slick-arrow {
            bottom: 0;
            margin-bottom: 10px; // do div bọc ngoài có margin: -10px
            border: 0;
        }
        .slick-arrow.btn-prev {
            left: 50%;
            @include transform(translateX(-103%));
        }
        .slick-arrow.btn-next {
            right: 50%;
            @include transform(translateX(103%));
        }
    }
    &.arrow-top {
        padding-top: 60px;
        .slick-arrow {
            left: 0;
            top: 0;
            margin: 10px 0 0 10px;
        }
        // .slick-arrow.btn-prev {}
        .slick-arrow.btn-next {
            @include transform(translateX(106%));
        }
    }
    &.arrow-top-left {
        padding-top: 60px;
        .slick-arrow {
            left: 0;
            top: 0;
            margin: 10px 0 0 10px;
        }
        // .slick-arrow.btn-prev {}
        .slick-arrow.btn-next {
            @include transform(translateX(106%));
        }
    }
    &.arrow-top-right {
        padding-top: 60px;
        .slick-arrow {
            left: 0;
            top: 0;
            margin: 10px 10px 0 0;
        }
        .slick-arrow.btn-prev {
            @include transform(translateX(-106%));
        }
        .slick-arrow.btn-next {}
    }
}

.slick-dots {
    // bottom: -20px;
    li {
        button {
            &:before {
                color: $color1;
                @include opacity(0.5);
            }
        }
    }
    li.slick-active {
        button {
            &:before {
                @include opacity(1);
                color: $color1;
            }
        }
    }
}

.slider-nav {
    .slick-track {
        margin: 0;
    }
    .wrap-img {
        border: 3px solid #fff;
        &.slick-current {
            border: 1px solid $color1;
        }
        &:hover {
            cursor: pointer;
            border: 1px solid $color1;
        }
    }
}

.collapse-has-slide {
    display: block;
    height: 0;
    overflow: hidden; }
.collapse-has-slide.in {
    height: auto; }

/* end slider */