/* slider */

// slick-theme.css slider
.slick-initialized.slick-dotted.slick-slider {
    margin-bottom: 20px;
    .slick-dots {
        bottom: -30px;
    }
}
.slick-arrow {
    font-size: 0;
    line-height: 0;
    padding: 0;
}
.slick-dots {
	position: absolute;
	bottom: -35px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	li {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		button {
			font-size: 0;
			line-height: 0;
			display: block;
			width: 20px;
			height: 20px;
			padding: 5px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: none;
            background: transparent;
            &::before {
                // font-family: 'slick';
                // font-size: 6px;
                // line-height: 20px;

                // font-size: 35px;
                font-size: 45px;
                line-height: 7px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '•';
                text-align: center;
                opacity: .25;
                color: black;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            
		}
	}
	li.slick-active {
		button {
			&:before {
				opacity: 1;
				filter: alpha(opacity=100);
				-webkit-filter: alpha(opacity=100);
				color: $color1;
				opacity: .75;
				color: black;
			}
		}
	}
}

.slider {
    // .slick-list {
    //     overflow: hidden;
    // }
    .wow, .animated {
        display: none;
    }
    .slick-current .wow,
    .slick-current .animated {
        display: block;
    }
    .slick-arrow {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        height: 30px;
        width: 30px;
        border: none;
        border-bottom: 2px solid;
        border-left: 2px solid;
        // border-color: rgba($color1, 0.7);
        border-color: #fff;
        background: transparent !important;
        cursor: pointer;
        color: transparent;
        &:hover, &:focus {
            border-color: #fff;
        }
        &::before {
            content: "";
            line-height: 1;
            color: #fff;
            // opacity: .75;
            // -webkit-font-smoothing: antialiased;
        }
    }
    .slick-arrow.slick-prev {
        left: 30px;
        @include transform(rotate(45deg));
    }
    .slick-arrow.slick-next {
        right: 30px;
        @include transform(rotate(-135deg));
    }
}

.slider-arrow-outside {
    .slick-arrow {
        border-color: $color1;
        &:hover, &:focus {
            border-color: $color1;
        }
        &::before {
            color: $color1;
        }
    }
    .slick-arrow.slick-next {
        right: -30px;
    }
    .slick-arrow.slick-prev {
        left: -30px;
    }
}

.slick-dots {
    // bottom: -20px;
    li {
        button {
            &:before {
                color: $color1;
                @include opacity(0.5);
            }
        }
    }
    li.slick-active {
        button {
            &:before {
                @include opacity(1);
                color: $color1;
            }
        }
    }
}

//slider-fluid: img slider 100vw
// .slider.slider-fluid {
//     .slick-arrow {
//         border-color: rgba(#fff, 0.7);
//         &:hover, &:focus {
//             border-color: #fff;
//         }
//     }
//     .slick-dots {
//         li {
//             button {
//                 &:before {
//                     color: #fff;
//                 }
//             }
//         }
//         li.slick-active {
//             button {
//                 &:before {
//                     color: #fff;
//                 }
//             }
//         }
//     }
// }

.slider-light-control {
    .slick-arrow {
        border-color: rgba(#fff, 0.7);
        &:hover, &:focus {
            border-color: #fff;
        }
    }
    .slick-dots {
        li {
            button {
                &:before {
                    color: #fff;
                }
            }
        }
        li.slick-active {
            button {
                &:before {
                    color: #fff;
                }
            }
        }
    }
}

// .slick-slide {
//     .animated {
//         display: none;
//     }
// }

// .slick-slide.slick-active {
//     .animated {
//         display: block;
//     }
// }

.slick-dotted.slick-slider {
    // margin-bottom: 0;
}

.slider-nav {
    .slick-track {
        margin: 0;
    }
    .wrap-img {
        // width: 60px !important;
        // height: auto !important;
        // border: 1px solid #fff;
        border: 3px solid #fff;
        &.slick-current {
            border: 1px solid $color1;
        }
        &:hover {
            cursor: pointer;
            border: 1px solid $color1;
        }
    }
}

// @media (min-width: 768px) {
//     .slider-nav {
//         position: absolute;
//         bottom: 20px;
//         left: 50%;
//         @include transform(translateX(-50%));
//         .slick-track {
//             width: fit-content !important;
//         }
//     }
// }

@media (max-width: 1239px) {
    .slider {
        .slick-arrow.slick-prev {
            left: 20px;
        }
        .slick-arrow.slick-next {
            right: 20px;
        }
    }
}

@media (max-width: 767px) {
    .slider {
        .slick-arrow {
            height: 20px;
            width: 20px;
        }
    }
}

.collapse-has-slide {
    display: block;
    height: 0;
    overflow: hidden; }
.collapse-has-slide.in {
    height: auto; }

/* end slider */